<div class="container">
    <form>
        <h3>Sign Up</h3>
        <div>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" [(ngModel)]="signUpObject.username">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="text" name="password" id="password" [(ngModel)]="signUpObject.password">
        </div>
        <button (click)="onSignUp()">Sign Up</button>
    </form>
    <form action="post" method="post" >
        <h3>Sign In</h3>
        <div>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" [(ngModel)]="signInObject.username">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="text" name="password" id="password" [(ngModel)]="signInObject.password">
        </div>
        <button (click)="onSignIn()">Sign In</button>
    </form>
</div>
