<div class="searchArea">
    <form>
        <label for="searchInput">Search Article</label>
        <input name="searchInput" [(ngModel)]="searchTerm" placeholder="Search Article...">
    </form>
</div>
<div class="articles">
    <span *ngIf="!information.length && information.length < 0">Loading...</span>
    <span *ngIf="information.length == 0">No element</span>
@for (article of information | filterArticles : searchTerm(); track $index) {
    <div class="article">
        <span>{{article.name}}</span>
        <span>{{article.shortDescription}}</span>
        <span>Type: {{article.typeOfObject}}</span>
        <span class="priceSpan">{{article.price}}€</span>
        <button type="submit" class="buyButton">Buy</button>
    </div>
}  
</div>
